.precomp
*/.precomp
.directory
*.xml
*.xsl
*.log
doc/*.html
spellTmp*
Old/*
*/Old/*
~*
*~
t/Travis-ci/*.tgz
tests/Pencil*
markdown-refs.md

docs/_site/
docs/vendor/
docs/.gitignore
Gemfile.lock
_site
.sass-cache
.jekyll-metadata
docs-old/
.bundle/
xt/NewModules/*
xt/Templates/*
xt/data/Layout.png
xt/data/OffscreenWindow-surface.png
xt/data/OffscreenWindow.png
*.code-workspace
