.precomp
*/.precomp
.directory
*.xml
*.xsl
*.log
doc/*.html
spellTmp*
Old/*
~*
*~
t/Travis-ci/*.tgz
tests/Pencil*
markdown-refs.md

docs/_site/
docs/vendor/
docs/.gitignore
Gemfile.lock
_site
.sass-cache
.jekyll-metadata
docs-old/
.bundle/
xt/NewModules/*
