
.green 
  color:            #a0f0cc;
  background-color: #308f8f;
  font:             25px sans;
}

.yellow 
  color:            #ffdf10;
  background-color: #806000;
  font:             25px sans;
}

