[Desktop Entry]
Comment[en_US]=
Comment=
Exec=cd /home/marcel/Languages/Raku/Projects/gnome-gtk3; /opt/Raku/rakudo/install/bin/raku xt/ex-application.pl6
GenericName[en_US]=
GenericName=
Icon=/home/marcel/Languages/Raku/Projects/gnome-gtk3/xt/data/ex-application.png
MimeType=
Name[en_US]=Example
Name=Example
Path=
StartupNotify=true
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
